<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eladndecristo.historiadigital" version="1.1.02" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"> 
    
    <name>Ungido</name>
    <description>Ecosistema Zero-Trust de Grado Empresarial Offline-First</description>
    <author email="admin@gloriadorada.com" href="https://gloriadorada.com">
        Comandancia
    </author>
    
    <content src="index.html" />

    <access origin="*" />
    <access origin="cdvfile://*" /> 
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <allow-navigation href="file:///*" />
    <allow-navigation href="cdvfile://*/*" /> 
    <allow-navigation href="https://gloriadorada.com/*" />
    <allow-navigation href="data:*" />
    
    <allow-intent href="tel:*" />
    <allow-intent href="whatsapp:*" />
    <allow-intent href="https://wa.me/*" />

    <preference name="scheme" value="http" />
    <preference name="hostname" value="127.0.0.1" />
    <allow-navigation href="http://127.0.0.1:8080/*" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
        </config-file>
        
        <preference name="android-minSdkVersion" value="28" />
        <preference name="android-targetSdkVersion" value="35" />
        
        <preference name="android-usesCleartextTraffic" value="true" />
        <preference name="BackupWebStorage" value="none" />
        <preference name="KeepRunning" value="true"/>
        <preference name="DisallowOverscroll" value="true"/>
        <allow-intent href="market:*" />
        
        <preference name="AndroidXEnabled" value="true" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="taskAffinity" value="" />
        <preference name="excludeFromRecents" value="true" />
        
        <preference name="GradlePluginKotlinEnabled" value="true" />
        <preference name="GradlePluginKotlinCodeStyle" value="official" />
        <preference name="GradlePluginKotlinVersion" value="1.9.20" />
        
        <preference name="LoadUrlTimeoutValue" value="70000" />
        
        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/hdpi.png" density="hdpi" />
        <icon src="res/android/xhdpi.png" density="xhdpi" />
        <icon src="res/android/xhdpi.png" density="xxhdpi" />
        <icon src="res/android/xhdpi.png" density="xxxhdpi" />

        <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi" />
        <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi" />
        <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi" />
        <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi" />
        <splash src="res/screen/android/splash-land-xxhdpi.png" density="land-xxhdpi" />
        <splash src="res/screen/android/splash-land-xxxhdpi.png" density="land-xxxhdpi" />
        <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi" />
        <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi" />
        <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi" />
        <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi" />
        <splash src="res/screen/android/splash-port-xxhdpi.png" density="port-xxhdpi" />
        <splash src="res/screen/android/splash-port-xxxhdpi.png" density="port-xxxhdpi" />
        
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="AutoHideSplashScreen" value="true" />
    </platform>
</widget>
